<!doctype html>
<html lang="ja" ng-app>
<head>
	<meta charset="UTF-8">
	<title>Angular YouTube</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
	<script src="js/myscript.js"></script>
</head>
<body>
	<h1>YouTube Search</h1>
	<div ng-controller="mainCtrl">
		<form ng-submit="doSearch()" name="myForm">
			<input type="text" ng-model="query" required>
			<!--ng-disabled : trueの時は、操作を受け付けない-->
			<input type="submit" value="search" ng-disabled="myForm.$invalid">
		</form>
		<h2>Results</h2>
		<!--
			ng-show を使用して、表示の切り替えを行っている。
			results.lengthにおいて、検索結果があればtrueが返ってくる事を量している。
		-->
		<ul ng-show="results.length" style="list-style-type:none;padding:0">
			<li ng-repeat="result in results">
				<img src="{{result.media$group.media$thumbnail[0].url}}" alt="">
				{{result.title.$t}}
			</li>
		</ul>
		<!--results.lengthがtrueの場合は非表示にする。-->
		<p ng-hide="results.length">↑ 上から検索してください。</p>
	</div>
</body>
</html>